<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the app component</h3>
      <hr>


      <!--exercises-->
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
      <app-servers></app-servers>
      <app-exercise></app-exercise>
      <hr>
      <app-game-control (myInterval)="onInterval($event)"></app-game-control>
      <div class="game-wrapper">
        <div class="game-boxes">
          <app-odd *ngFor=" let oddNumber of oddNumbers" [myNumber]="oddNumber"></app-odd>
      </div>
      <div class="game-boxes">
          <app-even *ngFor="let evenNumber of evenNumbers" [myNumber]="evenNumber"></app-even>
      </div>
      </div>
      <hr>

      <!--form-->
      <app-form></app-form>

    </div>
  </div>
</div>
